<div class="tab-pane active" id="mine">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="thumbnail">
        <img src="http://fillmurray.com/800/800" alt="...">
        <div class="caption">
          <p>My favourite coffee shops in washingston state jhre euwqo</p>
        </div>
      </a>
    </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="http://fillmurray.com/800/800" alt="...">
          <div class="caption">
            <p>Coffee</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="http://fillmurray.com/800/800" alt="...">
          <div class="caption">
            <p></p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="http://fillmurray.com/800/800" alt="...">
          <div class="caption">
            <p>Co;lkzdk;ljfads;kl sdkjd kde</p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="thumbnail">
          <img src="http://fillmurray.com/800/800" alt="...">
          <div class="caption">
            <p>asdl.kjhsdlkfnasbdfnk sdajmfsndmkjsfd ajjns</p>
          </div>
        </a>
      </div>
    </div>
</div>
<div class="tab-pane" id="favs">
  <h3>Test 1</h3>
</div>
<div class="tab-pane" id="contrib">
  <h3>test2</h3>
</div>
