<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a data-toggle="tab" href="#mine">My mapps</a></li>
  <li role="presentation"><a data-toggle="tab" href="#favs">Favourites</a></li>
  <li role="presentation"><a data-toggle="tab" href="#contrib">Contributed</a></li>
  <li role="presentation"><a data-toggle="tab" href="#all">Browse</a></li>
</ul>
