<!DOCTYPE html >
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Map Title</title>
  <% include ./partials/_head.ejs %>
</head>
<body>
  <header>
    <% include ./partials/_nav.ejs %>
  </header>
  <div class="pac-card" id="pac-card">
    <div class="pac-container" id="pac-container">
      <input class="pac-input" id="pac-input" type="text" placeholder="Enter a location">
    </div>
  </div>
  <div id="map" data-mapId="<%= mapId %>"></div>
  <% include ./partials/_scripts.ejs %>
  <% include ./partials/_gmaps_api.ejs %>
  <script src="/scripts/scriptMaps.js"></script>

</body>

</html>
