
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_head.ejs %>
</head>
<body>
  <header>
    <% include ./partials/_nav.ejs %>
  </header>
  <main class="container">
    <% if (user_id) { %>
    <% include ./partials/_tabs.ejs %>
    <% } %>
    <div class="tab-content clearfix">
          <div class="tab-pane<%= !user_id ? ' active' : '' %>" id="all" >
          <h3>test 3</h3>
				</div>
        <% if (user_id) { %>
          <% include ./partials/_tabs_content.ejs %>
          <% } %>
			</div>
  </main>
  <% include ./partials/_scripts.ejs %>
  <% include ./partials/_gmaps_api.ejs %>
</body>
</html>
