<!DOCTYPE html >
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>From Info Windows to a Database: Saving User-Added Form Data</title>
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

</head>

<body>
  <div id="map" height="460px" width="100%"></div>
  <div id="infoBOX">
    <table>
      <tr>
        <td>
          <form method="POST" action="/maps/map_id/locations">
        </td>
      </tr>
      <tr>
        <td>
          <input name="locationTitle" placeholder="Title" type="text">
        </td>
      </tr>
      <tr>
        <td>
          <textarea name="locationDesc" placeholder="Description Textarea"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <input name="locationImage" placeholder="Image URL" type="text">
        </td>
      </tr>
      <tr>
        <td>
          <button onclick='saveCoords()'>Save</button>
        </td>
      </tr>
      </form>
    </table>

  </div>
  <div id="message">Location saved</div>
    <script type="text/javascript" src="scripts/locations.js"></script>
    <% include ./partials/_scripts.ejs %>
    <% include ./partials/_gmaps_api.ejs %>

</body>

</html>
