body {
  background-color: #eee;
  font-family: $font-stack;
  padding-top: 4em;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.row {
  @include xs-only {
    margin: 0 auto;
    width: 75%;
  }
}
