*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: $font-stack;
  padding-top: $nav-lineheight + 2.5*$space;
}

.row {
  @include xs-only {
    margin: 0 auto;
    width: 75%;
  }
}
