body {
  background-color: #eee;
  font-family: $font-stack;
  padding-top: $nav-height + 2.5*$space; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

.row {
  @include xs-only {
    margin: 0 auto;
    width: 75%;
  }
}

.navbar-brand {
  top: -0.25em
}

.navbar-fixed-top, .navbar-nav li a {
  line-height: $nav-height;
}

.navbar-map {
  top: 0.25em
}
