.map {

  &-grid {
    padding: $space;
  }

  &-tab {

    & &-a {
      font-size: 1.75em;
      padding: $space;
    }
  }

  &-tabs {
    height: auto;
    padding: $space 0;
  }

  &-thumbnail {

    &-name {
      font-size: 1.75em;
      height: 3em;
    }
  }

  &-thumbnails {

  }

}
