.control-favorite {
  font-size: 2em;
  padding: $space;
    &:hover {
      color: $favorite;
    }
    &.favorited {
      color: darken($favorite, 20);
      transform: scale(1.25);
    }
  }


.pac-card {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  outline: none;
  position: absolute;
  width: 30%;
  left: $space;
  top: $space;
}

.pac-container {
  background: #fff;
  padding: $space;
  position: absolute;
  left: $space;
  top: $space;
  width: 100%;
}

.pac-input {
  background-color: #fff;
  padding-left: 0.25*$space 0.5*$space;
  text-overflow: ellipsis;
  width: 100%;
}

#map {
  //If you pass in $nav-height to calc(); the browser will interpret this as the string "100% - $nav-height"
  height: -o-calc(100% - 4.5em);
  height: -webkit-calc(100% - 4.5em);
  height: -moz-calc(100% - 4.5em);
  height: calc(100% - 4.5em);
  left: 0;
  position: absolute;
  top: $nav-height;
  width: 100%;
}
