
.coordinates {
  font-size: .8em;
}

#save {
  float: right;

  &-btn {
    float: left;
  }
}

#edit-btn{
  float: left;
}

.modal-title {
  margin-top: $space;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}
