//Variables

$favorite: #eecc77;
$font-stack: 'Quicksand', sans-serif;
$nav-lineheight: 2.5em;
$nav-height: 4.5em;
$space: 1em;
$xs-width: 768px;

//Mixins
@mixin xs-only {
  @media (max-width: #{$xs-width}) {
    @content;
  }
}
