body {
  background-color: #eee;
  padding-top: 4em;
}

body h1 {
  color: #244751;
}

main {
  width: 800px;
  margin: 0 auto;
}

.caption {
  height: 6em;
}

.map-thumbnail {
  height: 150px;
  padding: 20px;
}
